# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma generated client
node_modules/.prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo

# Uploads (PDFs, etc.)
Uploads/
